**/__pycache__
**/imagenet
*.sh
/old/weights/
/datasets/
/dataset/
/imagenet.zip
/plots/
/logs/
/images/
/diffusion_data/
/adversarial_preprocessing/evasion_attack_outputs
/adversarial_preprocessing/temp
/adversarial_preprocessing/logs
/adversarial_dataset/
hashes.npy
logits.npy
python main2.py --transform=contrast --refresh && python main2.py --transform=brightness && python main2.py --transform=median && python main2.py --transform=blur 