**/__pycache__
**/imagenet
*.sh
*.pth
/old/weights/
/datasets/
/dataset/
/imagenet.zip
/plots/
/logs/
/images/
/diffusion_data/
/adversarial_preprocessing/evasion_attack_outputs
/adversarial_preprocessing/temp
/adversarial_preprocessing/logs
/adversarial_data/
/adversarial_dataset
hashes.npy
logits.npy
/disco/training/save